* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  $i: 4;
  $j: 1;
  @while $i > 0 {
    h#{$j} {
      font-weight: 300;
      font-size: $i * 0.65rem;
      $i: $i - 1;
      $j: $j + 1;
    }
  }

  body {
    background-color: #151514;
  }
}
