<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Comienzo boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!--Finalizacion boostrap-->

    <!--CDN PARA EFECTOS JS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--Finalizacion CDN EFECTOS JS-->

    <title>Trabajos Destacados</title>
    <link rel="stylesheet" href="../../styles/css/estilos.css" />
  </head>
  <body>
<!--HEADER Y NAVEGADOR-->
<header>
    <nav class="navbar fixed-top navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html">Facundo Muñoz </a>
        <button
          class="navbar-toggler navbar-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
              <a class="nav-link active" href="home.html"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="about.html">Sobre Mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Destacado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="services.html">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contact.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

    <!--TRABAJOS DESTACADOS-->
    <section class="trabajosDestacados" id="featured">
      <h2>Trabajos Destacados</h2>
      <div class="trabajosDestacados__fila">
        <div class="trabajosDestacados__fila__columnas destacados" data-aos="fade-up" data-aos-delay="100">
          <img
            src="../assets/image/MariaCremaschi.png"
            alt="Imagen de primer servicio realizado"
          />
          <div class="trabajosDestacados__fila__columnas__contenido">
            <p>
              María es actualmente el link entre el mundo árabe y el latino o hispanohablante. En un corto período de tiempo tomo grandes desafíos como la sucesión de Diego Armando Maradona.
              Te invito a que conozcas la pagina web que desarrollamos con María haciendo click <a href="http://www.mariacremaschiadvocate.com">aquí</a>
            </p>
            <h4>María Cremaschi</h4>
          </div>
        </div>
        <div class="trabajosDestacados__fila__columnas destacados" data-aos="fade-up" data-aos-delay="300">
          <img
            src="../assets/image/CrystalDesarrollo.png"
            alt="Imagen del segundo servicio realizado"
          />
          <div class="trabajosDestacados__fila__columnas__contenido">
            <p>
              Crystal Desarrollo es una StartUp dedicada al desarrollo de sofware, ellos necesitaban una página web completa, donde se pueda tener acceso a todo tipo de información, desde los servicios que realizan, hasta formularios de contacto. Te invitamos a que veas la pagina web de Crystal Desarrollo haciendo click <a href="https://crystal-desarrollo.com">aquí</a>
            </p>
            <h4>Crystal Desarrollo</h4>
          </div>
        </div>
        <div class="trabajosDestacados__fila__columnas destacados" data-aos="fade-up" data-aos-delay="500">
          <img
            src="../assets/image/RobertoCaceres.png"
            alt="Imagen del tercer servicio realizado"
          />
          <div class="trabajosDestacados__fila__columnas__contenido">
            <p>
              Roberto es uno de los dermatólogos mas reconocidos de Jujuy, Argentina, tiene multiples posgrados y es propietario de un centro de estética laser. Junto a Roberto desarrollo un sistema que lleve el control de las fichas médicas de sus pacientes.
            </p>
            <h4>Roberto Cáceres</h4>
          </div>
        </div>
      </div>
    </section>

    <!--FOOTER-->

    <footer class="py-3 my-4 container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">17 Clientes Felices</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted"
              >17 Proyecto Realizados</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted"
              >+80 buenas valoraciones</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">2 Años de experiencia</a>
          </li>
        </ul>
        <p class="text-center text-muted">
          Facundo Muñoz - Todos los derechos reservados 2021®
        </p>
      </footer>

    <!--Inicializar AOS-->
    <script>
        AOS.init();
      </script>
    </body>
  </body>
</html>
